/* Ensuring the div height and width are appropriate */
div {
  height: 250px;
  width: 100%;
  clear: both;
  margin-top: 5px;
}

/* Styling the jeovan-box with a background image */
.jeovan-box {
  background-image: url("./crystals.jpeg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
  text-align: center;
  border-radius: 5px;
}

/* Adding shadow and animation for the text */
.jeovan-box {
  color: black;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4),
    0 0 40px rgba(255, 255, 255, 0.3);
  animation: sparkle 2s infinite;
  margin: 0;
}

/* Keyframes for the sparkle animation */
@keyframes sparkle {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4),
      0 0 40px rgba(255, 255, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
      0 0 20px rgba(255, 255, white, 0.9), 0 0 30px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(255, 255, 255, 0.7), 0 0 50px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.5);
  }
  75% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4),
      0 0 40px rgba(255, 255, 255, 0.3);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4),
      0 0 40px rgba(255, 255, 255, 0.3);
  }
}
.jeovan-full {
  background-color: rgba(255, 255, 255, 0.308);
  width: 70%;
  height: 100%;
  padding: 5%;
  border-radius: 5px;
  font-size: 1.5rem;
}
