@tailwind base;
@tailwind components;
@tailwind utilities;


#container {
    position: fixed;
    top: 0;
    left:0;
    overflow: hidden;
    display: block;
    height: 250px;
}

#vid {

    margin-top: -120px;
    overflow: hidden;

}