.cloche-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  cursor: pointer;
}

.cloche {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 50% 50% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cake {
  position: absolute;
  top: 50%;
  width: 100%;
  opacity: 0;
  text-align: center;
  transform: translateY(-50%);
}

.cake h2 {
  margin: 0;
  padding: 10px;
  background-color: #f5c6a5;
  border-radius: 5px;
}
